* {
  margin: 0;
  padding: 0;
  border: none;  
 
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;   
  overflow-y: auto; 
  scroll-behavior: smooth; 
}

.container {
  height: 100%;
  
}

section{
    scroll-snap-align: start; 
}
.outer{
    height: 450px;
    width: 100%;
    background: #eff9f0;
    
}


.header {
    border: 1px solid;
    background-color: #fff;
    padding: 1px 1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    
    

}

.logo {
    
    
    height: 75px;
    width: 75px;
    padding-left: 10px;
    margin-left: 70px;
    border-radius: 10px;
    
    
    
}

.name{
    position: absolute;
    left: 70px;
    top: 55px;
    font-size: 15px;
    color: #000000;
}

.about{
    color: #230903;
    font-size: 20px;
    font-weight: 800;
}
.home{
    color: #230903;
    font-size: 20px;
    font-weight: 800;
}
.contact-us{
    color: #230903;
    font-size: 20px;
    font-weight: 800;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    

}

a{
    text-decoration: none;
    color: #230903;
}


img{
   height: 60px;
    width: 60px;
}

.log-in{
    
    margin-right: 80px;
    
    
}

.log{
    border-radius: 5px;
    background-color: #06a77d;
    font-weight: 700;
    font-size: larger;
    padding: 10px 10px;
    color: #fffffa;
    cursor: pointer;
    transition: background-color 0.5s ease;

}

.log:hover{
    
    background-color: #055e46;
}

.text{
    
    padding: 55px 55px;
    color: black;
    background: linear-gradient(90deg, #000000, #6A6A6A);
    -webkit-background-clip: text;   
      -webkit-text-fill-color: transparent; 
      background-clip: text; 
      color: transparent; 
      
}






h1{
    color: #13070c;
    font-size: 70px;
    margin: 100px 0px 0px 450px;
}



.bottom{
    display: flex;
    justify-content: center;
    background: #111;
    padding: 20px;
    padding-bottom: 106px;
}

.search-bar{
     position: relative; 
    display: flex;             
    align-items: center; 
    padding: 15px;
    
    overflow: hidden; 
    margin-top: 110px;
    align-items: center;
    
    


}

.search-bar i {
        position: absolute;
        padding-left: 15px;
        
     align-items: left;
    
  color: black;
  font-size: 30px;
  pointer-events: none; 
  font-weight: 700;
}

.search-bar input{
     position: static;
    
    width: 900px;
    padding: 10px 15px;
    border-radius:20px ;
    border: 4px solid #06a77d;
    animation: glow 3s infinite linear;
    text-align: center;  
    font-size: 20px;
    outline: none;

}
@keyframes glow {
  0%   { box-shadow: 0 0 5px #06a77d; }
  25%  { box-shadow: 0 0 10px #dcdce2; }
  50%  { box-shadow: 0 0 15px #eaebee; }
  75%  { box-shadow: 0 0 10px #31a888; }
  100% { box-shadow: 0 0 5px #06a77d; }
}

hr{
    height: 5px;
    background: orangered;
    border-radius: 5px;
}



.faq-card {
  background: #000;
  color: #fff;
  width: 100%;
  height:1000px;

  min-height: 100vh;  
    scroll-margin-top: 80px;
}

h2{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 40px;
    font-size: 50px;

}



.faq-card h2 {
  text-align: center;
  
    padding-top: 70px;
    padding-bottom: 40px;
    font-size: 40px;
}


.faq-question {
  width: 98%;
  background: #111;
  border: 1px solid #333;
  border-radius: 10px;
  margin: 10px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.3rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.faq-question:hover {
  background: #1a1a1a;
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
}


.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  color: #ccc;
  padding: 0 1rem;
}


.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 1rem;
}

.faq-item.active .toggle {
  content: "–";
}
